@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Space+Grotesk:wght@300..700&display=swap');

body {
  height: 100vh;
  background: rgb(159, 235, 242);
  background: linear-gradient(180deg, rgba(159, 235, 242, 0.21052170868347342) 35%, rgba(24, 184, 182, 1) 93%);
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;

}

.signup,
.login {
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10px;
  box-sizing: border-box;
  max-width: 70%;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(27, 103, 189, 0.1);
  border: 2px solid black;
}

h2 {
  margin: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-fields,
button {
  width: 30%;
  height: 100%;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.submit-button {
  width: 20%;
}

p {
  margin: 20px;
}

.task-head {
  display: flex;
  justify-content: space-around;
}

.tasks-list button {
  width: 15%;
  height: 20%;
}

.tasks-list {
  margin: 20px;
}

.task-head {
  margin-bottom: 40px;
}

.task-head button {
  width: 20px;
}

.task-head .btn-danger {
  background-color: rgb(170, 34, 34);
  width: 10%;
}

.add-task-form {
  margin: 20px;
  padding: 10px;
}

table {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {

  .input-fields,
  button {
    width: 80%;
  }

  .submit-button {
    width: 80%;
  }
  .logOut{
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}